:root {
  --base-1: #292B38;
  --base-2: #ffffff;
  --base-3: #6998C6;
  --base-4: #D61116;
  --base-5: #353949;
  --base-6: #4C4959;
  --base-7: #9B9BA5;
  --base-8: #E9EDF0;
  --base-9: #F6F6F6;
  --shade-1: #426E9B;
  --shade-2: #2F3240;
  --shade-3: #EDF1F4;
  --extra-1: #4BB24F;
  --extra-2: #EDF7ED;
  --extra-3: #FBC667;
  --extra-4: #FCEEC9;
  --extra-5: #d41118;
  --extra-6: #FBF1F1;
}